@Scripts.Render("~/Scripts/dygraph-combined.js")

@{
    ViewBag.Title = "Acompanhamento";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

@if (!String.IsNullOrEmpty(ViewBag.Mensagem))
{
    <p class="message-info">
        @ViewBag.Mensagem
    </p>
}
else
{
    <div id="visualizacaoPorPeriodo" style="width:800px; height:400px;"></div>
    <br>
    <div id="visualizacaoAcumulada" style="width:800px; height:400px;"></div>
    <br>
    <div><span style="font-size: 16px"><strong>@ViewBag.Quantidade</strong></span> itens processados a <span style="font-size: 16px"><strong>@ViewBag.Velocidade</strong></span> itens por segundo.</div>
    
    <script type="text/javascript">
        g1 = new Dygraph(
            document.getElementById("visualizacaoPorPeriodo"),
            @Html.Raw(ViewBag.SeriePorPeriodo),
            {
                title: 'Processamento por período',
                fillGraph: true, 
                strokeWidth: 2,
                labelsDivStyles:
                {
                    'backgroundColor': 'transparent'
                },
                xAxisLabelWidth: 60
            }
        );

        g2 = new Dygraph(
            document.getElementById("visualizacaoAcumulada"),
            @Html.Raw(ViewBag.SerieAcumulada),
            {
                title: 'Processamento acumulado',
                fillGraph: true, 
                strokeWidth: 2,
                labelsDivStyles:
                    {
                        'backgroundColor': 'transparent'
                    },
                xAxisLabelWidth: 60
            }
        );
    </script>
}
