@Scripts.Render("~/Scripts/dygraph-combined.js")

@{
    ViewBag.Title = "Acompanhamento";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<div>
    @Html.ActionLink("Por período", "VisualizacaoPorPeriodo", "Acompanhamento", new { processamentoId = ViewBag.ProcessamentoId }, null)&nbsp;&nbsp;
    <strong>Acumulada</strong>
</div>

@if (!String.IsNullOrEmpty(ViewBag.Mensagem))
{
    <p class="message-info">
        @ViewBag.Mensagem
    </p>
}
else
{
    <div id="grafico" style="width:800px; height:400px;"></div>
    <br>
    <div><span style="font-size: 16px"><strong>@ViewBag.Quantidade</strong></span> itens processados a <span style="font-size: 16px"><strong>@ViewBag.Velocidade</strong></span> itens por segundo.</div>
    
    <script type="text/javascript">
        g = new Dygraph(
            document.getElementById("grafico"),
            @Html.Raw(ViewBag.Serie),
            {
                title: 'Processamento Acumulado',
                fillGraph: true, 
                strokeWidth: 2,
                labelsDivStyles:
                {
                    'backgroundColor': 'transparent'
                },
                xAxisLabelWidth: 60,
                includeZero: true
            }
        );
    </script>
}
