@{
    ViewBag.Title = "FatureJa";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>Exemplo de arquitetura para processamento paralelo no Windows Azure.</p>
        </div>
    </section>
}
<h3>Procedimentos para demonstração:</h3>
<ol class="round">
    <li class="one">
        <h5>Gerar dados de exemplo</h5>
        Gere uma massa de @Html.ActionLink("contratos", "GerarContratos", "Administracao") e seu respectivo @Html.ActionLink("movimento", "GerarMovimento", "Administracao") mensal.
    </li>
    <li class="two">
        <h5>Iniciar processo de faturamento</h5>
        Comande o início do processo de @Html.ActionLink("faturamento", "Index", "Faturamento") para um mês que tenha movimento.
    </li>
    <li class="three">
        <h5>Acompanhar andamento do processo</h5>
        @Html.ActionLink("Acompanhe", "Index", "Acompanhamento") o progresso do processamento.
    </li>
</ol>
<p>Você precisa ter o perfil Administrador para comandar processamentos. O acompanhamento do andamento é público.</p>
