@model FatureJa.Web.Models.GeracaoModel

@{
    ViewBag.Title = "Administração";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<p>Use este formulário para gerar dados de contatos para demonstração.</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <fieldset>
        <legend>Geração de Contratos</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.QuantidadeContratos)
                @Html.TextBoxFor(m => m.QuantidadeContratos)
            </li>
        </ol>
        <input type="submit" value="Gerar contratos" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
